 
.lead {
	font-size: 16px;
	line-height: 22px
}
.text-muted {color: #999;}
.wrapper1 {
	margin-left: 60px;
	background: url(../images/bg.png) #eee;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
} 
.btn, .btn-box {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.btn:hover, .btn-box:hover {
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.15);
	box-shadow: 0 0 2px rgba(0,0,0,0.15)
}
.btn:focus, .btn-box:focus {
	outline: 0
}
.btn {
	font-size: 13px;
	font-weight: 600
}
.btn.btn-mini, .btn.btn-small {
	font-size: 11px
}
.btn.btn-large {
	font-size: 16px
}
.btn-box {
	margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);



	text-align: center;
	text-decoration: none!important;
	padding: 25px 0;
	margin: 0 0 30px
}
.btn-box i, .btn-box b {
	display: block
}
.btn-box b {
	color: #444;
	font-size: 20px;
	font-weight:normal;
	margin-top: 5px;
	text-shadow: 0 1px 0 #fff
}
.btn-box i {
	font-size: 36px;
	line-height: 36px;
	height: 36px;
	color: #29b7d3;
	-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.btn-box.big b {
	margin-top: 10px
}
.btn-box.big i {
	font-size: 48px;
	line-height: 48px;
	height: 48px
}
.btn-box.small b {
	font-size: 11px
}
.btn-box.small i {
	font-size: 24px;
	line-height: 24px;
	height: 24px
}
.btn-box:hover i {
	color: rgba(0,0,0,0.4);
	
}
.btn-group>.btn:first-child {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px
}
.btn-group>.btn:last-child {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px
}
.btn-group.shaded-icon>.btn>i {
	color: rgba(0,0,0,0.3);
	text-shadow: 0 0 1px #eee, 0 0 0 #000, 0 0 1px #fff
}
.btn-group.shaded-icon>.btn:hover>i {
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px #ccc, 0 0 0 #000, 0 0 1px #fff
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 13px
}



/* Buttons */


.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 4px 10px;
	font-size: 13px;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.btn.active:focus, .btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn:focus, .btn:hover {
	color: #767676;
	text-decoration: none
}
.btn.active, .btn:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
 
@media(max-width:927px){

	body{
		padding:0!important
	}
	.wrapper1{
		padding:20px 15px
	}
}